{% include 'tcc/header.html' %}
		<div id="principal">
			<div class ="sensor1 divSensor">
				<div class ="imagem1 divImagem">
				<img src="/static/tcc/imagens/sensor_chuva.jpg" class="imgEsquerda">
				</div>
				<div class ="texto">
					<legend class="legenda">Sensor Drop Rain </legend>
					<p class="text"> Esse sensor funciona usando uma placa de circuito impressa, com várias linhas, umas próximas das outras. Quando uma gota de água cai nesses riscos, a água faz a conexão entre duas linhas, e o sensor é capaz de detectar se muitas ou poucas gotas estão na placa do mesmo.</p>
				</div>	
			</div>
		
			<div class ="sensor2 divSensor">
				<div class ="texto2">
					<legend class="legenda">Sensor DHT22 </legend>
					<p class="text">O Sensor DHT22 produzido pela empresa Aosong Eletronics é um pequeno componente digital de grande auxilio na realização de pesquisas e testes com objetivo de captar a umidade e temperatura do ar, internamente contém dois sensores um capacitivo que capta a umidade do ar.</p>
				</div>
				<div class ="imagem2 divImagem">
					<img src="/static/tcc/imagens/dht22.jpg" class="imgDireita"> 
				</div>
				
			</div>	
			
			<div class ="sensor3 divSensor">		
				<div class ="imagem3 divImagem">
					<img src="/static/tcc/imagens/grove.jpg" class="imgEsquerda">
				</div>	
				<div class ="texto3">
					<legend class="legenda">Sensor Grove </legend>
					<p class="text"> Esse sensor mede a quantidade de água no solo através do principio da resistência elétrica, onde uma corrente é aplicada em suas sondas e dependendo do valor de sua resistência, é determinado o valor da quantidade de água</p>
				</div>	
			</div>
			
			<div class ="sensor4 divSensor">
				<div class ="texto4">
					<legend class="legenda">Sensor LM35 </legend>
					<p class="text"> É um sensor preciso, potente e mais do que isso, confiável, levando vantagem aos demais sensores encontrados no mercado, pois sua medição é feita de forma linear com uma tensão de saída linearmente proporcional à temperatura em graus Celcius. </p>
				</div>
				<div class ="imagem4 divImagem">
					<img src="/static/tcc/imagens/lm35.jpg" class="imgDireita"> 
				</div>
			</div>	
		</div>
{% include 'tcc/footer.html' %}
